.footer {
  @media (max-width: 768px) {
    &__top {
      display: block;
      text-align: center;
    }
    &__info {
      width: 100%;
    }
    .social-list {
      justify-content: center;
      margin-bottom: 30px;
    }
    .subtitle {
      text-align: center;
    }
  }

}