.track {
  background-image: url("../assets/bg-track.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__inner {
    padding-top: 45px;
    padding-bottom: 90px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__description {
    max-width: 440px;
  }

  &__row {
    text-align: center;
  }

}